@charset "utf-8";

body{
	
	background: #FFFE5F;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

	#layout {
		width: 100%;
		margin: 5% auto 0px auto;
		max-width: 95%;
	}	
	#allprojects{
		width: 100%;
		margin: 300px
			5% 0px auto;
		max-width: 95%;
		float: right;
	}
	
	#project1{
		width:15%;
		margin: 0% 0% 0% 0%;
		float: right;
	}
 
	#project2{
		width: 15%;
		margin: 0% 0% 0% %;
		float: right;	
	}
 	#project3{
		width: 15%;
		margin: 0% 0% 0% %;
		float: right;	
	}

 	#project4{
		width: 15%;
		margin: 0% 0% 0% %;
		float: right;
	}
 	#project5{
		width: 15%;
		margin: 5% 0% 0% 0% %;
		float: right;	
}
 
	#aboutme{
		width: 60%;	
		margin: 10% 0% 0% 0%;
		}


	h1{
		color: #741515;
		font-size: 50px;
		line-height: 58px;
		margin: auto;
		}

	h2{
		color: #660A0C;
		font-size: 25px;
		line-height: 30px;
		margin: auto;
		}

	h3{
		color: #833E3F;
		font-size: 20px;
		line-height: 40px;
		margin: 0% 0% 2% 0%;
		}
.a {
	color: #FF3F00;
	font-size: 20px;
	line-height: 20px;

}
a:hover {
color: #ECFDD2;
transition-duration: .7s;	
background-color: transparent;
text-decoration: none;	
	}	
	
a:link {
color: #833E3F;
text-decoration: none;
	}	

a:visited {
color: #833E3F;
text-decoration: none;
background-color: #FFFFFF;
