@charset "utf-8";

body{
	
	background: #222222;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

	#layout {
		width: 80%;
		margin: 0px auto 0px auto;
		max-width: 900px;
	}	

	#projects{
		width: 50%;	
		margin: 0% 0% 0% 67%;
		padding: 20px;
		}

	#aboutme{
		width: 60%;	
		margin: 0% 0% 0% 0%;
		padding: 40px;
		}


	h1{
		color: #FFFE5F;
		font-size: 50px;
		line-height: 58px;
		margin: 20% 2% 0% 0%;
		}

	h2{
		color: #FFFE5F;
		font-size: 25px;
		line-height: 35px;
		margin: 2% 0% 0% 0%;
		}

	h3{
		color: #FFFE60;
		font-size: 20px;
		line-height: 40px;
		margin: 2% 0% 2% 0%;
		}
.a {
	color: #15174a;
	font-size: 20px;
	line-height: 20px;

}
a:hover {
color: #FFF7EA;
transition-duration: .7s;	
background-color: transparent;
text-decoration: none;	
	}	
	
a:link {
text-decoration: none;
	}	
