	#images mobile{
	visibility: hidden;
	}	

	h2{
		font-size: 10px;
		line-height: 15px;
		width: 46%;
		margin: 0% 2% 5% 0%;
		}

	h3{
		font-size: 50px;
		line-height: 55px;
		width: 70%;
		margin: 0% 0% 2% 0%;
		}

	p{
		font-size: 40px;
		line-height: 45px;
		width: 70%;
		margin: 0% 2% 0% 0%;	
}

	.about{
		position: absolute;
		z-index: -1;
		display: inline-block;
		width: 70%;	
		border-radius: 10%;
		margin: 130% 0% 0% 30%;
		padding: 60px;
		}


#sitetitle{
		position: absolute;
		z-index: -1;
		width: 100% !important;
		padding: 10%;
		margin-top: 210%;
}

#sources{
		position: absolute;
		z-index: -1;
		width: 10%;
		padding: 5%;
		margin-top: 260%;
	
}

	#activity{
		position: absolute;
		z-index: -1;
		width: 100% !important;
		padding: 10%;
		margin-top: 175%;
}
	

/*Images*/

.background{
  position: absolute;
  display: inline-block;
  width: 100%;
  z-index: -4;
}

.title{
  position: absolute;
  display: inline-block;
  width: 100%; 
  z-index: -2;
}

.part1{
  position: absolute;
  display: inline-block;
  width: 100%;
	z-index: -2;
}

.part2{
  position: absolute;
  display: inline-block;
  width: 100%;
  z-index: -2;
}

.part3{
  position: absolute;
  display: inline-block;
  width: 100%;
  z-index: -2;
}

.part4{
  position: absolute;
  display: inline-block;
  width: 100%;
  z-index: -1;
}

.popupgoat{
  position: absolute;
  display: inline-block;
  margin-top: 12%;
  width: 100%;
  z-index: -1;
}

/*other websites*/

	.leftcolumn {
	display:inline-block;
	float: left;
	width: 20%;
	margin-top: 230%;	
	overflow: hidden;
	margin-left: 20%;
	padding-right: 2%;	
	}
	
	.midcolumn {
	display: inline-block;
	float: left;
	width: 20%;
	margin-top: 230%;	
	padding-right: 2%;	
	}
	.rightcolumn {
	display: inline-block;
	float: left;
	width: 20%;
	margin-top: 230%;	
	padding-right: 2%;	
	}	


/*----------------------------------
  Medium devices: iPad vertical
------------------------------------*/

@media (max-width: 991px) {
		
}

/*----------------------------------
  Small devices: iPhone 6+ and below
------------------------------------*/

@media (max-width: 767px) {

#images desktop{
	visibility: hidden;
}

#images mobile{
	visibility: visible;
}	
	
	
	h3{
		font-size: 20px;
		line-height: 25px;
		width: 90;
		margin: 0% 1% 5% 0%;
		}

	p{
		font-size: 15px;
		line-height: 20px;
		width: 90;
		margin: 0% 2% 5% 0%;	
}

	.about{
		position: absolute;
		z-index: -1;
		display: inline-block;
		width: 100%;	
		border-radius: 10%;
		margin: 123% 0% 40% 8%;
		padding: 60px;
		}

	#activity{
		position: absolute;
		z-index: -1;
		width: 70%;
		padding: 10%;
		margin-top: 180%;
		}	
	
/*other websites*/

	.leftcolumn {
	display:inline-block;
	float: left;
	width: 20%;
	margin-top: 235%;	
	overflow: hidden;
	margin-left: 20%;
	padding-right: 2%;	
	}
	
	.midcolumn {
	display: inline-block;
	float: left;
	width: 20%;
	margin-top: 235%;	
	padding-right: 2%;	
	}
	.rightcolumn {
	display: inline-block;
	float: left;
	width: 20%;
	margin-top: 235%;	
	padding-right: 2%;	
	}		
	
}

/*----------------------------------
  iPhone 6 & 6+ specific text bump
------------------------------------*/

@media (max-width: 991px) and (max-height: 736px) and (min-height: 481px) {

	
}
